* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: #1b0505;
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF0000;
    border-radius: 10px;
}

/* Style général */
body { 
    background:#000000;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Style de l'en-tête */
header {
    width: 100%;
    height: 620px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/empire.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}

.logo h1 {
    color: #fcfcfc;
    font-size: 24pt;
    font-family: Oswald;
}

.navbar {
    width: 50%;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: 600;
    transition: all .5s;
}

.navbar .active a, .navbar li a:hover {
    color: #FF0000;
}
.responsive-menu {
    display: none;
}
.hearder-text {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 5%;
    top: calc(620px - 40%);
    font-size: 18pt;
    font-style: italic;
}

/* Style de la section "À propos" */

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px
}

.about-section h1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 22pt;
    color: #fcfcfc;
    font-style: italic;
}

.about-section h1 strong {
    color: #FF0000;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
}

.about-content {
    width: 60%;
}

.about-image {
    display: flex;
    width: 45%;
}

.about-image img {
    border: 4px solid #e9cd31;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: auto;
    animation: img 1s ease-in-out infinite alternate;
}
@keyframes img {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
/* Style du pied de page */

footer {
    background-color: #1b0505;
    width: 100%;
    height: 240px;
    border-top: 2px dotted #FF0000;
} 
.footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.info {
    width: 100%;
    height: 45%;
    gap:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-footer {
    font-size: 22pt;
    font-family: Oswald;
}

.links-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.links-footer a {
    text-decoration: none;
    color: #8a8888;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 600;
}

.networks {
    display: flex;
    gap: 20px;
}

.networks div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid #FF0000;
    border-radius: 100%;
}

.networks i {
    color: #FF0000;
    font-size: 18pt;
}

.copyright {
    color: #8a8888;
}



@media screen and (max-width:1200px) {

    .hearder-text {
        font-size: 16pt;
    }
}


@media screen and (max-width:1000px) {
    header {
            width: 100%;
            height: 420px;
        }
    /*Navigation*/
    .navbar ul{
        display: none;
    }

    .responsive-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 35px;
        cursor: pointer;
    }

    .responsive-menu i {
        font-size: 30px;
        color: #fcfcfc;
    }

    .navbar.respon ul {
        display: flex;
        position: fixed;
        top: 50px;
        right: 35px;
        flex-direction: column;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 3px 2px #2c2c2c9d;
        align-items: center;
        height: auto;
        width: auto;
        gap: 10px;
        padding: 7px;
        z-index: 1;
    }
    .hearder-text {top: calc(420px - 30%);}

        .about-container {
            flex-direction: column;
            z-index: -1;
        }

                .about-content {
                    width: 85%;
                }
        
                .about-image {
                    display: flex;
                    width: 60%;
                }
}

@media screen and (max-width:800px) {

    header {
            width: 100%;
            height: 350px;
        }

    .navbar.respon li a {
        font-size: 9pt;
    }
    .hearder-text {
            font-size: 12pt;
            top: calc(350px - 25%);
            left: calc(100% - 95%);
        }
    .about-content, .about-image {
        width: 100%;
        text-align: justify;
    }

        /*FOOTER*/
        footer {
            height: 190px;
        }
    
        .logo-footer {
            font-size: 16pt;
        }
    
        .links-footer {
            gap: 20px;
        }
    
        .links-footer a {
            font-size: 9pt;
        }
    
    
        .networks div {
            width: 30px;
            height: 30px;
        }
    
        .networks i {
            color: #FF0000;
            font-size: 12pt;
        }
    
        .copyright {
            font-size: 9pt;
        }
}




@font-face {
    font-family: inter;
    src: url("./img/Inter-VariableFont_slnt\,wght.ttf");
}